<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Info</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- Add Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
  <div class="container">
    <div class="header">
        <i class="fab fa-x-twitter fa-xs"></i>
      </div>
      
    <div class="sidebar">
      <div class="sidebar-items">
        <a href="#" class="item"><i class="fas fa-home"></i> Home</a>
        <a href="#" class="item"><i class="fas fa-compass"></i> Explore</a>
        <a href="#" class="item"><i class="fas fa-bell"></i> Notification</a>
        <a href="#" class="item"><i class="fas fa-envelope"></i> Messages</a>
        <a href="#" class="item"><i class="fas fa-list"></i> List</a>
        <a href="#" class="item"><i class="fas fa-bookmark"></i> Bookmarks</a>
        <a href="#" class="item"><i class="fas fa-users"></i> Communities</a>
        <a href="#" class="item"><i class="fas fa-user-circle"></i> Premium</a>
        <a href="#" class="item"><i class="fas fa-user-circle"></i> Profile</a>
        <a href="#" class="item"><i class="fas fa-ellipsis-h"></i> More</a>
      </div>
    </div>
    <div class="footer">
      <button class="post-button">Post</button>
      <div class="profile-info">
        <div class="profile-img">
          <img src="https://images.unsplash.com/photo-1710432157519-e437027d2e8f?q=80&w=1531&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Image">
        </div>
        <div class="profile-details">
          <h5>Dhiraj shinde</h5>
          <h5>@Dhirajshinde</h5>
        </div>
        <a href="#" class="more-icon"><i class="fas fa-ellipsis-h"></i></a>
      </div>
    </div>
  </div>
</body>
</html>
