<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?w=740&t=st=1710691493~exp=1710692093~hmac=e5f49f7839f733273c149661fd35b4300457702cadef581ce2ad077592539d28" alt="pin logo" class="img1" />
          <p class="header">Make account to see more</p>
          <form action="/register"  method="post">
          <input name="username" type="text" placeholder="username" class="detail" /><br />
          <input name="email" type="email" placeholder="Email" class="detail" /><br />
          <input name="password" type="password" placeholder="Password" class="detail" />
          <a href="/forgot">Forgot your password?</a>
          <button  name="submit" class="btn int" >Register Acccount</button>
        </form>
          
  
  
         
          <button class="btn fbk">
            <i
              class="fab fa-facebook fa-lg"
              style="color:  rgb(11, 241, 22); padding-right: 10px"
            ></i
            ><a href="#">Continue with Facebook</a></button
          ><br />
          <button class="btn ggl">
            <i
              class="fab fa-google"
              style="color: rgb(11, 241, 22); padding-right: 10px"
            ></i
            ><a href="#">Continue with Google</a>
          </button>
  
          <footer>
            <p>
              By continuing, you agree to Pinterest's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <a href="/login">Already on Pinterest ? Log In</a >
          </footer>
        </div>
      </div>
      <a href="" class="upbtn">Sign up</a>
  
</body>
</html>
