<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <i class="fa-brands fa-x-twitter"></i>
    <div class="container">
        <input type="text" placeholder="Username or email">
        <input type="password" placeholder="Password"> <!-- Added password input box -->
        <button id="google-sign">
          <img src="https://img.icons8.com/color/48/undefined/google-logo.png" alt="google logo">
          <p>Sign in with Google</p>
        </button>
        <button id="">
          <img src="https://img.icons8.com/ios-filled/50/undefined/mac-os.png" alt="apple logo">
          <p>Sign in with Apple</p>
        </button>
        <p>---------------Or--------------</p>
        <input id="next" type="submit" value="Sign In">
        <input id="forgot" type="submit" value="Forgot Password ?">
        <p id="signup">Don't have an account ? <a href="#">Sign up</a></p>
      </div>
</body>
</html>